<body>
    <div class="container">
      <div class="col-md-6">

        <h1>All Photos</h1>

<a href="/photos/new">
  Add a new photo
</a>

  <div class="thumbnail">-->
    <img src="<%= @list_of_photos.source %>">

    <div class="caption">
      <a href="/photos/20" class="btn btn-default">
      Show Details
      </a>

      <a href="/photos/20/edit" class="btn btn-default">
      Edit
      </a>

      <a href="/delete_photo/20" class="btn btn-default btn-block">
        Delete
      </a>
    </div>
  </div>
  
  <div class="thumbnail">-->
    <img src="<%= @list_of_photos.source %>">

    <div class="caption">
      <a href="/photos/19" class="btn btn-default">
      Show Details
      </a>

      <a href="/photos/19/edit" class="btn btn-default">
      Edit
      </a>

      <a href="/delete_photo/19" class="btn btn-default btn-block">
        Delete
      </a>
    </div>
  </div>
  
    <div class="thumbnail">-->
    <img src="<%= @list_of_photos.source %>">

    <div class="caption">
      <a href="/photos/18" class="btn btn-default">
      Show Details
      </a>

      <a href="/photos/18/edit" class="btn btn-default">
      Edit
      </a>

      <a href="/delete_photo/18" class="btn btn-default btn-block">
        Delete
      </a>
    </div>
  </div>
  
  <div class="thumbnail">-->
    <img src="<%= @list_of_photos.source %>">

    <div class="caption">
      <a href="/photos/17" class="btn btn-default">
      Show Details
      </a>

      <a href="/photos/17/edit" class="btn btn-default">
      Edit
      </a>

      <a href="/delete_photo/17" class="btn btn-default btn-block">
        Delete
      </a>
    </div>
  </div>
  
    <div class="thumbnail">-->
    <img src="<%= @list_of_photos.source %>">

    <div class="caption">
      <a href="/photos/16" class="btn btn-default">
      Show Details
      </a>

      <a href="/photos/16/edit" class="btn btn-default">
      Edit
      </a>

      <a href="/delete_photo/16" class="btn btn-default btn-block">
        Delete
      </a>
    </div>
  </div>
  
  <div class="thumbnail">-->
    <img src="<%= @list_of_photos.source %>">

    <div class="caption">
      <a href="/photos/15" class="btn btn-default">
      Show Details
      </a>

      <a href="/photos/15/edit" class="btn btn-default">
      Edit
      </a>

      <a href="/delete_photo/15" class="btn btn-default btn-block">
        Delete
      </a>
    </div>
  </div>
  
    <div class="thumbnail">-->
    <img src="<%= @list_of_photos.source %>">

    <div class="caption">
      <a href="/photos/14" class="btn btn-default">
      Show Details
      </a>

      <a href="/photos/14/edit" class="btn btn-default">
      Edit
      </a>

      <a href="/delete_photo/14" class="btn btn-default btn-block">
        Delete
      </a>
    </div>
  </div>
  
  <div class="thumbnail">-->
    <img src="<%= @list_of_photos.source %>">

    <div class="caption">
      <a href="/photos/13" class="btn btn-default">
      Show Details
      </a>

      <a href="/photos/13/edit" class="btn btn-default">
      Edit
      </a>

      <a href="/delete_photo/13" class="btn btn-default btn-block">
        Delete
      </a>
    </div>
  </div>
  
    <div class="thumbnail">-->
    <img src="<%= @list_of_photos.source %>">

    <div class="caption">
      <a href="/photos/12" class="btn btn-default">
      Show Details
      </a>

      <a href="/photos/12/edit" class="btn btn-default">
      Edit
      </a>

      <a href="/delete_photo/12" class="btn btn-default btn-block">
        Delete
      </a>
    </div>
  </div>
  
  <div class="thumbnail">-->
    <img src="<%= @list_of_photos.source %>">

    <div class="caption">
      <a href="/photos/11" class="btn btn-default">
      Show Details
      </a>

      <a href="/photos/11/edit" class="btn btn-default">
      Edit
      </a>

      <a href="/delete_photo/11" class="btn btn-default btn-block">
        Delete
      </a>
    </div>
  </div>
  
    <div class="thumbnail">-->
    <img src="<%= @list_of_photos.source %>">

    <div class="caption">
      <a href="/photos/10" class="btn btn-default">
      Show Details
      </a>

      <a href="/photos/10/edit" class="btn btn-default">
      Edit
      </a>

      <a href="/delete_photo/10" class="btn btn-default btn-block">
        Delete
      </a>
    </div>
  </div>
  
  <div class="thumbnail">-->
    <img src="<%= @list_of_photos.source %>">

    <div class="caption">
      <a href="/photos/9" class="btn btn-default">
      Show Details
      </a>

      <a href="/photos/9/edit" class="btn btn-default">
      Edit
      </a>

      <a href="/delete_photo/9" class="btn btn-default btn-block">
        Delete
      </a>
    </div>
  </div>

  

      </div>
    </div>
  </body>