<h1>Photo Details</h1>

<img src="<%= @photo_details.source %>">

<p>
  <%= @photo_details.caption %>
</p>

<p>
  <%= time_ago_in_words(@photo_details.created_at) %> ago
</p>

<a href="/photos" class="btn btn-default">
  Go back
</a>

<a href="/photos/<%= @photo_details.id %>/edit" class="btn btn-default">
  Edit
</a>

<a href="/delete_photo/<%= @photo_details.id %>" class="btn btn-default">
  Delete
</a>
